## Design Constraints for Mojo v3 board
NET "CLK" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

NET "CLK"     LOC = P56  | IOSTANDARD = LVCMOS33;
NET "RST_N"   LOC = P38  | IOSTANDARD = LVCMOS33;
NET "LEDS<0>" LOC = P134 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=8;
NET "LEDS<1>" LOC = P133 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=8;
NET "LEDS<2>" LOC = P132 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=8;
NET "LEDS<3>" LOC = P131 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=8;
NET "LEDS<4>" LOC = P127 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=8;
NET "LEDS<5>" LOC = P126 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=8;
NET "LEDS<6>" LOC = P124 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=8;
NET "LEDS<7>" LOC = P123 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=8;
