//Part Number: GW1NZ-LV1QN48C6/I5
IO_LOC "CLK"     47;
IO_LOC "RST_N"   13;

IO_LOC "Q[0]" 28;
IO_LOC "Q[1]" 27;
IO_LOC "Q[2]" 15;
IO_LOC "Q[3]" 16;
IO_LOC "Q[4]" 17;
IO_LOC "Q[5]" 18;
IO_LOC "Q[6]" 22;
IO_LOC "Q[7]" 23;

IO_PORT "CLK"     IO_TYPE=LVCMOS33; 
IO_PORT "RST_N"   IO_TYPE=LVCMOS33 PULL_MODE=UP; 

IO_PORT "Q[0]" IO_TYPE=LVCMOS33 DRIVE=8; 
IO_PORT "Q[1]" IO_TYPE=LVCMOS33 DRIVE=8; 
IO_PORT "Q[2]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_PORT "Q[3]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_PORT "Q[4]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_PORT "Q[5]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_PORT "Q[6]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_PORT "Q[7]" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "SW_A" 31;
IO_LOC "SW_B" 30;
IO_LOC "BTN" 29;

IO_PORT "SW_A"   IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_PORT "SW_B"   IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_PORT "BTN"    IO_TYPE=LVCMOS33 PULL_MODE=UP;
